* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #58bfbe;
    color: #d3ebed;
}

header {
    width: 100%;
    overflow-x: hidden;
    
    
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    overflow-wrap:break-word;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 160px;
    letter-spacing: 10px;
}

a {
    color: #bcdec5;
    text-decoration: none;
}